.project__wrapper {
    display: flex;
    font-size: 16px;
}
.project__warpper-left {
    padding: 3.75em 0 8em 70px;
    background-image: url("../assets/project__bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 37.5%;
}
.project__title {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 7.87em;
    line-height: 7.8rem;
    letter-spacing: -0.05em;
    margin-bottom: 4.68rem;
    color: #2a2a2ae7;
    text-transform: capitalize;
}
.project__nav{
    display: flex;
    flex-direction: column;
}
.project__link:not(:last-child){
    margin-bottom: 45px;
}
.project__title-adaptive{
    display: none;
}
.project__warpper-right {
    padding: 1.75em .625rem;
    width: 62.5%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project__carusel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.25em;
}














