.project__title{
    font-size: 1.5em;
    margin-bottom: .5em;
    font-weight: 700;
    -webkit-text-stroke: 1px #ffffff;
    color: var(--accent);
    animation: fadeInDown 2s;

}
.projects__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: .5em;
    animation: fadeInLeft 2s;
}

.active__paginate{
    list-style: none;
    opacity: 1;
    color: #ffffff;
}
.active__paginate:not(:last-child){
    margin-right: 40px;
  }










