.contact__wrapper {
    font-size: 16px;
    padding: 6.25em;
    background-color: #02083C;
    text-align: center;
}

.contact__title {
    font-family: 'Roboto Condensed';
    font-weight: 700;
    font-size: 3.75em;
    line-height: 4.375rem;
    text-transform: capitalize;
    color: #FFFAD0;
    margin-bottom: 40px;
}

.contact__subtitle{
    font-family: 'Roboto Condensed';
    font-weight: 500;
    font-size: 3.125em;
    line-height: 4.375rem;
    text-transform: capitalize;
    color: #FFFAD0;
}
.contact__desk{
    font-family: 'Roboto Condensed';
    font-weight: 500;
    font-size: 1.5em;
    line-height: 4.375rem;
    text-transform: capitalize;
    color: #FFFFFF;
}
.blue{
    color: #0047FF;
}