/* portfolio v2.0  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background-color: transparent;
}


body {
  height: 100vh;
  background: url('./assets/cool__bg__day.jpg') no-repeat bottom;
  background-size: cover;
  font-family: 'Montserrat Alternates', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
  font-size: 24px;
}
:root{
  --green: #159386;
  --black: #404040;
  --blue: #49a5f0;
  --yellow: #c4f54f;
  --btn-gradient: linear-gradient(135deg, rgba(196, 245, 79, 1) 2%, rgba(21, 147, 134, 1) 56%);
  --purple: #724cab;
  --white: #ffffff;


  --accent: var(--green);
  --color-link:var(--blue);
  --about-text: var(--black);
  --main-btn: var(--yellow);
  --main-btn-gradient: var(--btn-gradient)
}
.night {
  background: url('./assets/cool__bg__night.jpg') no-repeat bottom;
  background-size: cover;
}


/* pagination style  */

.pagination__wrapper {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.pagination__number {
  list-style: none;
  font-size: 24px;
  color: var(--accent);
  position: relative;
  opacity: .5;
  z-index: 10;
}
.pagination__number:not(:last-child){
  margin-right: 40px;
}
