* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFFAD0;
  font-size: 16px;
}

button {
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.container {
  max-width: 1470px;
  padding: 0 15px;
  margin: 0 auto;
}


/* pagination style  */

.pagination__wrapper {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.pagination__number {
  font-family: 'Gilroy-Medium';
  font-size: 24px;
  color: blueviolet;
  position: relative;
  z-index: 10;
}
.pagination__number:not(:last-child){
  margin-right: 40px;
}
