@media (max-width:970px) {
    .container {
        max-width: 970px;
    }

    .main__title {
        min-width: 900px;
    }
    @keyframes moveclouds1 {
        0% {margin-left: 300px;}
        100% {margin-left: -300px;}
    }
    @keyframes moveclouds2 {
        0% {margin-left: 300px;}
        100% {margin-left: -300px;}
    }
    @keyframes moveclouds3 {
        0% {margin-left: 300px;}
        100% {margin-left: -300px;}
    }
}

@media (max-width:760px) {
    .container {
        max-width: 760px;
    }
    .header__nav{
        display: none;
    }
    .projects__wrapper{
        padding: 3em 0;
    }
    .main__title {
        min-width: 700px;
    }

    .projects__cards {
        grid-template-columns: 1fr;
    }
    @keyframes moveclouds1 {
        0% {margin-left: 100px;}
        100% {margin-left: -100px;}
    }
    @keyframes moveclouds2 {
        0% {margin-left: 100px;}
        100% {margin-left: -100px;}
    }
    @keyframes moveclouds3 {
        0% {margin-left: 100px;}
        100% {margin-left: -100px;}
    }
}

@media (max-width:320px) {
   
    .container {
        max-width: 320px;
    }

    .header {
        font-size: 18px;
    }

    .switch {
        width: 30px;
        height: 17px;
    }

    .slider:before {
        width: 20px;
        height: 20px;
    }

    input:checked+.slider:before {
        -webkit-transform: translateX(12px);
        -ms-transform: translateX(12px);
        transform: translateX(12px);
    }

    .main {
        font-size: 18px;
    }

    .main__title {
        min-width: 300px;
    }
    
    .projects__cards {
     
        grid-template-columns: 1fr;
    }

    .about {
        font-size: 16px;
    }
    .projects{
        font-size: 18px;
    }
    @keyframes moveclouds1 {
        0% {margin-left: 50px;}
        100% {margin-left: -50px;}
    }
    @keyframes moveclouds2 {
        0% {margin-left: 50px;}
        100% {margin-left: -50px;}
    }
    @keyframes moveclouds3 {
        0% {margin-left: 50px;}
        100% {margin-left: -50px;}
    }

}